= form_for @bookmark, :url => { :action => "create" } do |f| 
  - if @bookmark.errors.any?
    - @bookmark.errors.full_messages.each do |msg|
      %p= msg
  = f.text_field :url
  = f.submit "Create" 


