<!doctype HTML>
%head
  = stylesheet_link_tag :application
  = javascript_include_tag :application
  = csrf_meta_tags
  %title Bookmarkly

%div#wrapper
  %body
    %h1
      =link_to "Bookmark.ly", root_path
    -if notice
      %p.notice= notice
    =yield

